.row.title-page
  %h1.col-sm-9 Listing games
  .col-sm-3= link_to 'New Game', new_game_path, class: "btn-up btn btn-primary"

.row
  .col-sm-4 Name
  .col-sm-8 Description
- @games.each do |game|
  .row
    .col-sm-4= link_to game.name, game
    .col-sm-8= game.description.first(210) + " . . . . "