@import "variables";

nav, .navbar-default{
  background-color: $primary;
  color: $text;
}
a.navbar-brand{
  color: $text;
}
.navbar-default .navbar-brand{
  color: $text;
}
.navbar-default:hover .navbar-brand:hover{
  color: $secondary;
}
.void{
  height:100px;
}
.navbar-default .navbar-nav > li > a{
  color: $text;
}
.navbar-default:hover .navbar-nav > li > a:hover{
  color: $secondary;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: $text;
  color: $primary;
}
nav.navbar {
  min-height: 100px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  .navbar-brand{
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    font-size: 50px;
    line-height: normal;
  }
  li a {
    line-height: 60px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #logo{
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    height:90px;
    float: left;
  }
  .profil-pic{
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
}
nav.navbar.shrink {
  min-height: 52px;
  .navbar-brand{
    font-size: 28px;
    line-height: 20px;
  }
  li a {
    line-height: 20px;
  }
  #logo{
    height: 50px;
    top:1px;
  }
  .profil-pic{
    height:30px;
    width:30px;
  }
}
#marginn{
  margin-top: 0;
  width:100%;
}