// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.game{
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  color: $text_second;

}
.game a{
  color: $text_second;
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: bold;
}
.game .desc{
  border-left: 1px solid white;
}
.row{
  margin-bottom: .7em;
}