= render :layout => "mail" do
  %h2{:style => "color:#0E7693; font-size:22px; padding-top:12px;"}
    Hello
    = @resource.email
  .article-content{:align => "left"}
    %p We're contacting you to notify you that your password has been changed.
    %p
      If it wasn't you, go on
      %a= link_to "http://tmanager.lambre.me", "the website"
      as soon as possible.
