.jumbotron
  .container
    .row
      .col-sm-4.col-sm-offset-3.col-xs-9
        .h1 Welcome!
        %p Register to get started.
      .col-sm-2.btn-register.col-xs-3
        = link_to 'Register', new_user_registration_path, class: 'btn btn-up btn-primary btn-lg'